*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{
  background-color: #333;
}

.container{
width: 100%;
background: #000;
height: 50px;
padding: 20px 15px;
margin-bottom: 10px;
}

nav{
  display: flex;
  justify-content: space-between;
}

.container ul a{
  text-decoration: none;
  color: #ff0;
}

nav a:nth-child(1) {
  color: #ff0;
  text-decoration: none;
}

nav ul li{
  display: inline-block;
  margin: 0 10px;
  padding-bottom: 10px;
  position: relative;
}

nav ul li::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.5px;
  width: 0%;
  height: 3px;
  background: #ff0;
  transition: 1s;
}

nav ul li:hover::after{
  width: 100%;
}

.img-div{
  margin-top: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

img {
 width: 100%;
 height: auto;
 border-radius: 10px;
 cursor: pointer;
}

#bar{
  width: 25px;
  height: 25px;
  display: none;
}

@media(max-width: 568px){
  nav ul li{
    display: block;
    position: relative;
    top: 25px;
    left: 20px;
  }
  nav ul{
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background: rgb(20, 20, 12);
    z-index: 2;
  }
  nav ul li:hover::after{
    width: 10%;
  }
  #bar{
    display: block;
  }
}